body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* Усі кольори */
:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(33, 33, 33, 1);
  --color-hover-logo-button: rgba(33, 150, 243, 1);
  --color-background-footer: rgba(47, 48, 58, 1);
  --color-background-button-portfolio: rgb(245, 244, 250); 
  --fill-for-svg: rgb(175, 177, 184);
}

/* Щоб не було випадання */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* Ховаємо елементи */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Загальні відступи */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  height: 80px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container.main-nav {
  display: flex;
  align-items: center;
  height: inherit;
}

.list.mail-tel {
  display: flex;
  margin-left: auto;
}

.email.email-header {
  display: inline-flex;
  margin-right: 50px;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-header{
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Щоб не було зайвих відступів */
img {
  display: block;
}

.list {
  list-style: none;
}

/* ШАПКА і ФУТЕР*/
.link,
.email,
.tel,
.logo {
  text-decoration: none;
}

.email,
.tel {
  font-style: normal;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo,
.link {
  color: var(--accent-color);
}

.email,
.tel {
  color: var(--primary-text-color);
}

.logo-element {
  color: var(--color-hover-logo-button);
}

.link.visited-effect:visited {
  color: var(--color-hover-logo-button);
}

.link:hover,
.link:focus,
.email:hover,
.email:focus,
.tel:hover,
.tel:focus {
  color: var(--color-hover-logo-button);
}

h2,
.person-names,
.title-list{
  color: var(--accent-color);
}

.section.hero {
  background-color: var(--color-background-footer);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  }

.footer {
  background-color: var(--color-background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  text-decoration: none;
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.geo {
  color: var(--primary-white-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
/* Робота зі шрифтом  для "Студія"*/

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* Шрифт для тексту в title-list */
.text {
  font-size: 14px;
  line-height: 1.7;
  width: 270px;
}

/* Е-мейл, пошта, навігація для "Студія" */
.site-nav,
.email,
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Заголовок для "Студія" */
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

/* h2 для "Студія" */
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/* h3 для "Студія" */
.title-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  width: 270px;
}

.person-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.profession {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

/* Кнопка (Cтудія)*/

.button {
  color: var(--primary-white-color);
  background-color: var(--color-hover-logo-button);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  border: var(--color-hover-logo-button);
}

/* Робота зі шрифтом для "Портфоліо" */

/*Кнопки(портфоліо)*/

.button-element {
  color: var(--accent-color);
  background-color: var(--color-background-button-portfolio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-box-item:not(:first-child){
  margin-left: 8px;
}

.button-element.all {
  padding: 6px 25px;
}

.button-element:hover {
  color: var(--primary-white-color);
  background-color: var(--color-hover-logo-button);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-element:focus {
  color: var(--primary-white-color);
  background-color: var(--color-hover-logo-button);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.heading-port {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-port {
  font-size: 16px;
  line-height: 1.9;
}

.our-team{
  background-color: var(--color-background-button-portfolio);
}


/* Класи для Студія(позиціонування) */
.list.some-photo {
  display: flex;
  justify-content: space-between;
}

.section.example {
  padding-top: 0;
}

.section.our-team {
  padding-bottom: 0;
}

.list.after-head {
  display: flex;
}

.item-after-head {
  margin-right: 30px;
}

.list-item-footer:not(:last-child) {
  margin-bottom: 9px;
}

.list-our-team {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.container-our-team {
  padding-bottom: 94px;
}

.person-margin {
  margin-top: 30px;
  margin-bottom: 10px;
}

.item-person {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 4px 4px;
}

/* Класи для портфоліо(позиціонування) */

.button-box {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.imgs-portfolio{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.description{
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding: 20px 24px;
}


/* Робота з svg */

/* Конверт і телефон в хедері */

.svg-email{
  margin-right: 10px;
  fill: currentColor;
  align-items: center;
}

.svg-email:hover{
 color: var(--color-hover-logo-button);
}

.svg-tel{
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
}

.svg-tel:hover{
  color: var(--color-hover-logo-button);
}

/* Рішення */

.svg-decisions-box{
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--color-background-button-portfolio);
}

.decisions-all-svg{
  width: 70px;
  height: 70px;
}

/* Соц.мережі */
.social-links-box{
  margin-left: auto;
  margin-right: auto;
  width: 206px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.social-item{
  width: 44px;
  height: 44px;
}

.social-links{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--fill-for-svg);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-socials{
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-links:hover,
.social-links:focus{
  background-color: var(--color-hover-logo-button);
  color: var(--primary-white-color); 
}

.social-links:not(:first-child){
  margin-left: 10px;
}


/* Постійні клієнти */

.regular-customers-list{
  display: flex;
  flex: wrap;
  justify-content: space-between;
  align-items: center;
}

.regular-customers-item{
  width: 170px;
  height: 92px;
}

.customers-link{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  color: var(--fill-for-svg);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-svg{
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus{
  color: var(--color-hover-logo-button);
  border-color: var(--color-hover-logo-button);
}

/* Соц.мережі футер */

.social-links-box-footer{
  width: 206px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.join-word{
display: inline-block;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-white-color);
margin-bottom: 20px;
}

.social-links-footer{
 color: var(--primary-white-color);
background-color: rgba(255, 255, 255, 0.1); 
}

.social-icon-box-footer{
 padding-top: 12px;
margin-left: 70px;
}

.container-footer{
  display: flex;
}

/* Ховер для карточок в Портфоліо */

.link-portfolio-card{
  display: block;
  text-decoration: none;
  color: var(--accent-color);
  
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio-card:hover,
.link-portfolio-card:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Опис картинки у розділі "Чим ми займаємося" */

.some-photo-item{
  position: relative;
}

.some-photo-description-container{
position: absolute;
width: 100%;
height: 70px;
bottom: 0;
background-color: rgba(47, 48, 58, 0.8);
}

.some-photo-description{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
font-size: 14px;
line-height: 1.14;
text-align: center;
text-transform: uppercase;
color: var(--primary-white-color);
}

/* Модальне вікно "Замовити послугу" */

.backdrop{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.2);
z-index: 1;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden{
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 528px;
height: 581px;
background-color: var(--primary-white-color);
padding: 40px;
}

.button-close-modal{
width: 30px;
height: 30px;
background-color: var(--primary-white-color);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
 position: absolute;
 top: 8px;
 right: 8px;
 cursor: pointer;
 
}

.modal-close{
vertical-align: middle;
}

.modal-close:hover{
  fill: rgba(33, 150, 243, 1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* Контент у модальному вікні */

.title-modal{
color: rgba(33, 33, 33, 1);
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
margin-bottom: 12px;
}

.input-line{
  margin-bottom: 10px;
}

.modal-input,
.modal-textarea{
width: 100%;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
font-size: 16px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input{
  padding-left: 42px;
}

.input-wrapper{
  position: relative;
}

.input-icon{
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea{
height: 120px;
resize: none;
padding: 12px 16px;
margin-bottom: 20px;
}

.modal-textarea::placeholder{
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:focus{
  outline: none;
  border-color: rgb(33, 150, 243);
}

.modal-label{
display: block;
margin-bottom: 4px;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: #757575;
}

.modal-input:focus + .input-icon{
  fill: rgb(33, 150, 243);
}

.modal-input:focus{
  outline: none;
  border-color: rgb(33, 150, 243);  
  cursor: pointer;
}

.checkbox-agree .icon-wrapper {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-agree{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.check-line input:checked + .checkbox-agree .icon-wrapper {
  background-color: rgb(33, 150, 243);
  border: none;
}

.check-line input:checked + .checkbox-agree .agree-icon {
  fill: #ffffff;
}

.modal-link{
  color: var(--color-hover-logo-button);
}

.text-agree{
font-size: 14px;
line-height: 1.7;
color: #757575;
}

.modal-button{
padding: 10px 52px;
 margin: 0 auto;
 display: flex;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover{
background-color: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Нижня риска в хедері */

.site-nav .item{
  position: relative;
}

.site-nav-link::after{
content: " ";
position: absolute;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: var(--color-hover-logo-button);
bottom: -11px;
left: 0;
}

/* Портфоліо ховер з текстом */

.img-wrapper{
  position: relative;
  overflow: hidden;
}

.wrapper-description{
position: absolute;
top:0;
bottom: 0;
right: 0;
left: 0;
background-color: rgba(33, 150, 243, 0.9);
display: flex;
justify-content: center;
align-items: center;
color:var(--primary-white-color);
font-weight: 400;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
padding: 63px 24px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.imgs-box-portfolio:hover .wrapper-description{
  transform: translateY(0);
}

/* Підпишіться на розсилку( Футер) */

.subscribe-footer{
  margin-left: 93px;
}

.email-footer-input{
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: transparent;
padding: 15px 16px;
color: var(--primary-white-color);
margin-right: 12px;
}

.email-footer-input::placeholder{
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
line-height: 1.25;
}

.subscribe-word{
  display: block;
}

.subscribe-button{
  padding: 10px 28px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
}

.icon-telegram{
margin-left: 10px;
}

.footer-form{
  display: flex;
}