/* Класи для Студія(позиціонування) */
.some-photo-list {
  display: flex;
  justify-content: space-between;
}

.section--padding{
  padding-top: 0;
}

.our-team{
  padding-bottom: 0;
  background-color: $color-background-button-portfolio;
}


.list-decisions {
  display: flex;
}

.list-decisions__item{
  margin-right: 30px;
}

.list-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.our-team__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.our-team__container{
  padding-bottom: 94px;
}

.our-team__name--margin {
  margin-top: 30px;
  margin-bottom: 10px;
}

.our-team__item {
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 4px 4px;
}
